*{
    padding: 0%;
    margin: 0%;
    font-family: 'Press Start 2P', cursive, sans-serif;
}


body{
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}
.main-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.timer{
    font-size: 15vmin;
    text-align: center;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}



.timer span{
    display: inline-block;
    margin: 0 10px;
}


button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 2.2vmin;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}


button:hover {
  background: #d8d8d8;
  border-color: #d8d8d8;
}

